{% extends "base.html" %}
{% load static %}

{% block menu %}
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="#" class="active">Research</a></li>
			<li><a href="{% url 'technology' %}">Technology</a></li>
            <!--
            <li><a href="#">Courses</a></li>
			<li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            -->
		</ul>
	</div>
{% endblock %}

{% block content %}
    {% block normal_content %}
	
	<div id="content">

		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		<div id="normalcontent">
            
                <table>
                	<tr>
                		<td valign="top"><img src="{% static 'home/images/nature_cover.jpg' %}" class="left" alt="Nature Cover" />
                        <div class="caption_left">Selam featured on the cover of Nature in 2006.</div></td>
                        <td valign="top">
                        <h3><strong>Dikika Research Project</strong><span></span></h3>
						<div class="contentarea">
            
						<!-- Normal content area start -->
                		<div class="details">Early human evolution in Ethiopia.</div>
                        <p> I have been working in the <a href="https://en.wikipedia.org/wiki/Afar_Region">Afar region of Ethiopia</a> since 2002, first at the site of
                            <a href="http://paleocore.org/projects/drp/">Dikika</a>
                            more recently at our new site, <a href="http://paleocore.org/projects/mlp/">Mille-Logya</a>. Dikika became famous for the discovery of
                            'Selam', (Alemseged et al., 2006) a juvenile skeleton of <em><a href="http://efossils.org/species/australopithecus-afarensis">Australopithecus
                                afarensis</a></em>, the same species as the well-known <a href="http://efossils.org/page/boneviewer/Australopithecus%20afarensis/AL%20288-1">'Lucy'</a> skeleton from across the
                            Awash River at the site of <a href="">Hadar</a>.  Selam is remarkable for preserving
                            delicate parts of the skeleton that do not normally survive the fossilization process, such as
                            the complete skull, scapula, hyoid, ribs, and articulated vertebrae. It is also remarkable for
                            being a juvenile individual, probably less than three yeears old, when she died.
                            Watch Zeray's
                            <a href="http://www.ted.com/index.php/talks/zeresenay_alemseged_looks_for_humanity_s_roots.html">TED conference presentation</a> about Selam. </p>
		 				</div> 
          				</td>
                   	</tr>
            	</table>
         	
          
          
        <div class="divider2"></div>                
                <table>
                	<tr>
                        <td valign="top">
                        <h3><strong>Micromammal Spatial Ecology</strong><span></span></h3>
                		<div class="contentarea">
						<!-- Normal content area start -->		
                		<div class="details">Spatial Ecology in the Serengeti - Masai Mara Ecosystem</div>
                        <p> For my dissertation I lived 18 months in the Serengeti National Park (mid 1998 - 2000) in northern Tanzania conducting research
                            on the structure of woodland and grassland ecosystem and how they influence the distribution of mammal
                            communities there, especially small mammals such as rodents and insectivores.  To quickly assess the
                            patterns of biodiversity in Serengeti, I collected dense bone assemblages from owl roosts and
                            identified the remains. Owls are avid predators of small mammals and routinely digest the entirety of their prey,
                            then regurgitate the bones, fur and other hard parts in a compact pellet. Over time these pellets
                            accummulate beneath the nesting and roosting sites of owls and provide an excellent (and rapid)
                            measure of local biodiversity (usally what lives withing 1 km of the roost or nest).  The data on
                            small mammal community patterns provides the necessary baseline data for interpreting community composition
                            in fossil assemblages. By studying the dynamics of modern ecosystems from the perspective of palenotology we
                            can strengthen in inferences we make about the past from fossil assemblages. This type of work
                            is often referred to as middle-range research, research that links modern processes to traces from the past.
                            </p>
                        </div>
          				</td>
                        <td valign="top"><img src="{% static 'home/images/meandjoe1.jpg' %}" class="right2" alt="" />

                        <div class="caption_right">Me (right) collecting pellet samples from a tree cavity in Serengeti with help from Joseph Masoy (left).</div>

                        </td>
                   	</tr>
            	</table>
         	
        <div class="divider2"></div>
        
                <table>
                	<tr>
                		<td valign="top"><img src="{% static 'home/images/kay_ambo.jpg' %}" class="left2" alt="" /></td>
                      	<td valign="top">
                      	<h3><strong>Amboseli Taphonomy</strong><span></span></h3>
						<div class="contentarea">            
						<!-- Normal content area start -->
                		<div class="details">The process of fossilization in a savanna ecosystem.</div>
                      	<p>Taphonomy is the study of how bones become fossils. <a href="http://paleobiology.si.edu/staff/individuals/behrensmeyer.html">Kay Behrehnsmeyer</a> has been researching taphonomy in savanna landscapes for many years. Working with Kay and others in Amboseli I have been exploring the fate of small mammal remains accumulated by both mammalian and avian predators.</p>
                      	</div>
          				</td>
                   	</tr>
            	</table>
         	
        
       	<div class="divider2"></div>
        	 
        	
                <table>
                	<tr>
                        <td valign="top">
                        <h3><strong>Grotte de Contrebandiers</strong><span></span></h3>
						<div class="contentarea">
						<!-- Normal content area start -->
                		<div class="details">Archaeozoology on the Atlantic coast of Morocco.</div>
                        <p>Grotte de Contrebandiers (Smuggler's Cave) preserves Middle Stone Age and Aterian artefacts. The Aterian is a stone tool culture spread throughout the Maghreb but it is poorly understood. Research at Contrebandiers seeks to understand the origin and context of the Aterian. My work focuses on archaezoological analysis of the micromammals from Contrebandiers and their implications for past environments at the site.</p>
		  				</div>
          				</td>
                        <td valign="top"><img src="{% static 'home/images/aterian.jpg' %}"  class="right2" alt="" /></td>
                   	</tr>
            	</table>

                <div class="divider2"></div>
        
                <table>
                	<tr>
                		<td valign="top"><img src="{% static 'home/images/vegmap.jpg' %}" class="left2" alt="" /></td>
                      	<td valign="top">
                      	<h3><strong>Vegetation Modeling</strong><span></span></h3>
						<div class="contentarea">            
						<!-- Normal content area start -->
                		<div class="details">Vegetation structure in modern savanna ecosystems.</div>
                      	<p>The study of modern savanna ecosystems plays a critical role in understanding paleoenvironments and the ecological context of human evolution. Using satellite imagery and GIS data, I have been exploring vegetation structure in the Serengeti Ecosystem. <a href="pdfs/Reed_et_al_2009.pdf">pdf</a>. <a href="data/sermarveg_30m_l2r.zip">serengeti vegetation map</a>. </p>
                      	</div>
          				</td>
                   	</tr>
            	</table> 	
        	
		</div>


	</div>
    {% endblock %}
{% endblock %}


