BODY {
	background-image : url(graphics/background.gif);
	color: black;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 10pt;
}

.title1 {
	font-size: 24pt;
	color: White;
	font-family: Arial, Helvetica, sans-serif;
}
.title2 {
	font-size: 24pt;
	color: #324160;
	font-family: Arial, Helvetica, sans-serif;
}
.title3 {
	font-size: 14pt;
	color: #324160;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : bold;
	border: medium #324260;
}
.nav1 {
	font-size: 10pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;


}
.nav2 {
	font-size: 12pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
}
.nav2s {
	font-size:9pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.nav2dark {
	font-size:9pt;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
.hilite {
	background-color: gray;
}
.h1 {
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 18 pt;
	font-weight : bolder;
}
.h2 {
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 14 pt;
	font-weight : bold
}
.h3  {
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 12 pt;
	font-weight : bold;
	font-style : italic;
}
.h4 {
	font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 12 pt;
	font-style : italic;
}
.bib {
		font-family : "MS Sans Serif", Geneva, sans-serif;
	font-size : 10 pt;
}
h1 {
	font-size: large;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: medium;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
b {
	font-size: 12pt;

	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}
.dropshadow {
	position: relative;
	left: 50px;
	font-size: 30px;
	font-family: Impact;
	font-style: oblique;
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
}
.buttontext{ position: relative;
top: -35px;
left: 46px;
font-size: 30px;
font-family: Impact;
font-style: oblique;
color: #CC3300;
font-weight: bold;
letter-spacing: 2px;
}
A {
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
