{% extends "base.html" %}
{% load static %}


		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
{% block normal_content %}
<div id="normalcontent">
    <h3><strong>Bio Sketch</strong><span></span></h3>
    <div class="contentarea">
        <!-- Normal content area start -->
        <table>
            <tr>
                <td><img src="{% static 'base/images/Denne3.jpg' %}" class="left" alt="Denne Reed Profile" /></td>
                <td valign="top">
                <p>Denn&eacute; is an Associate Professor in the Department of Anthropology at the University of Texas at Austin who studies the influences of ecology and environment on hominin adapations and behavior. His research interests include human evolution, terrestrial paleoecology, taphonomy, GIS and remote sensing.</p>

                <div class="divider2"></div>

                <p>Denn&eacute; teaches courses on introductory physical anthropology, early hominin evolution and paleoecology, applied data analysis, GIS and remote sensing. He has research projects in Ethiopia, Tanzania, Kenya and Morocco. Learn more about active research <a href="research.html">here</a>.</p>
        <p>The <a href="http://www.utexas.edu">University of Texas at Austin</a> has an excellent graduate degree program in Physical Anthropology. If you are a student considering graduate studies at UT Austin be sure to check out the <a href="http://www.utexas.edu/cola/depts/anthropology/">departmental web page</a> and the <a href="http://www.utexas.edu/cola/depts/anthropology/programs-and-subdisciplines/Physical-Anthropology.php">physical anthroplogy</a> subdiscipline web page. Also feel free to send an <a href="contact.html">email</a> with questions or interests.</p>

                <p><a href="{% static 'base/pdfs/DenneReedCV.pdf'%}">Curriculum Vitae</a>
                </td>
            </tr>
        </table>
  </div>
{% endblock %}

<!-- Primary content area start -->
{% block primary_content %}
<div class="post">
    <h4>Recent Publications</h4>
    <div class="contentarea">
        <div class="details">In reverse chronological order</div>
        {% for pub in publication_list %}
            {% if pub.is_recent %}
                <p>{{ pub.citation | safe }} <a href="{{ pub.journal_link }}">journal link</a></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block bottom_content %}

<div class="divider2"></div>

<div class="post">
    <h4>About the Background</h4>
    <div class="contentarea">
    <table>
        <tr>
            <td valign="top"><img src="{% static 'base/images/tablet.jpg' %}" class="left2" alt="A chinese dragon" />
            <div class="caption">Photo credit: Denn&eacute; Reed</div></td>
            <td valign="top"><p>The background to this page is a photograph of an ancient tablet written in
            <a href="http://en.wikipedia.org/wiki/Ge'ez_language">Ge'ez</a>,
            an extinct semitic language of Ethiopia.</p></td>
        </tr>
    </table>
        <!--
        <ul class="controls">
            <li><a href="#" class="printerfriendly">Printer Friendly</a></li>
            <li><a href="#" class="comments">Comments (18)</a></li>
            <li><a href="#" class="more">Read More</a></li>
        </ul>
        -->
    </div>
</div>
{% endblock %}


{% block secondary_content %}
<div class="box">
				<h4>Research</h4>
				<div class="contentarea">
					<img src="{% static  'base/images/Lithic_small.jpg'%}" />
					<p>Stone tool from Asbole, Ethiopia</p>
				</div>
			</div>


			<div>
				<h4>Links</h4>
				<div class="contentarea">
					<ul class="linklist">

						<li><a href="http://physanth.org/">American Association of Physical Anthropologists</a></li>
						<li><a href="http://www.vertpaleo.org/">Society of Vertebrate Paleontology</a></li>
						<li><a href="http://www.saa.org/">Society for American Archaeology</a></li>
						<li><a href="http://www.paleoanthro.org">Paleoanthropology Society</a></li>
						<li><a href="http://www.oldstoneage.com/">Old Stone Age dot com</a><li>
						<li><a href="http://www.talkorigins.org">Talk Origins</a></li>
						<li><a href="http://www.paleodb.org">Paleobiology Database</a></li>
						<li><a href="http://www.eskeletons.org">e-skeletons</a></li>
						<li><a href="http://www.elucy.org/about.html">e-lucy</a></li>
						<li><a href="http://www.r-project.org">R statistics</a></li>
						<li><a href="http://www.python.org">Python Programming</a></li>

						<li><a href="http://www.djangoproject.com">Django Web Framework</a></li>

					</ul>
				</div>
			</div>
{% endblock %}
		
